<div class="Collapsible"><button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">Shipping<span class="Collapsible__Plus"></span> </button>
  <div class="Collapsible__Inner">
    <div class="Collapsible__Content">
      <div class="Rte">
        {{ pages['delivery'].content }}
    </div>
  </div>
</div>