

{% if section.settings.no_styling %}
  {{ page.content }}
{% else %}
  <div class="Container">
    {% if section.settings.show_header %}
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
        </div>
      </header>
    {% endif %}
    
    <div class="PageContent {% unless section.settings.show_large %}PageContent--narrow{% endunless %} Rte">
      {{ page.content }}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "Show header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_large",
      "label": "Large width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "no_styling",
      "label": "No styling",
      "default": false
    }
  ]
}
{% endschema %}