
<section class="Section">
  <div class="Container">
    
      <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
          <h1 class="SectionHeader__Heading Heading u-h1">hello</h1>
        </div>
      </header>
    <div class="PageContent {% unless section.settings.show_large %}PageContent--narrow{% endunless %} Rte">
      hello
    </div>
  </div> 

</section>

{% schema %}
{
  "name": "Text block",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Header"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Body",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    } 
  ],
  "presets": [
    {
      "category": "Promotional",
      "name": "text-block",
      "settings": {}
    }
  ],
  "templates": ["product", "collection", "page"]
}
{% endschema %}