
/* Elements to hide */
.stamped-review-reply {
  display: none;
}
.summary-overview {
  display: none;
}

/* All the text presets first */

/* Body text */
.stamped-container .stamped-review-content-body,
.stamped-container .stamped-form-input
{
  font-family: var(--text-font-family) !important;
  font-weight: var(--text-font-weight) !important;
  font-style: var(--text-font-style) !important;
  color: var(--text-color);
  font-size: 14px;
}

/* Minature heading text */
.stamped-review-option-title, 
.stamped-review-header-title, 
.stamped-review-header .author,
.stamped-container[data-count="0"][data-widget-language=""] .stamped-empty-state div {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight)!important;
  font-style: var(--heading-font-style);
  text-transform: uppercase;
  font-size: 12px !important;
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: 10px;
}


.stamped-container[data-count="0"] {
  display: none !important;
}

.stamped-container #stamped-button-submit {
  font-family: var(--text-font-family) !important;
  font-weight: var(--text-font-weight) !important;
  font-style: var(--text-font-style) !important;
  background: var(--text-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 12px;
}


/* Stylised heading text */
.stamped-container .stamped-review-header .created,
.stamped-verified-badge {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 10px;
  margin: 0;
  letter-spacing: 0.2em;
  line-height: 19px;
}


/* Decoration text */
.stamped-container .stamped-content .stamped-review-header .review-location, 
.stamped-review-options .stamped-review-option-textfield,
.stamped-container .stamped-header span.stamped-review-option-labels {
  color: var(--text-color);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  font-family: var(--text-font-family);
  font-size: 11px;
}

.stamped-review-options ul li .stamped-review-option-textfield span {
  border-bottom: none !important;
}


.stamped-container .stamped-review-header-title {
  margin: 0px;
}

.stamped-container .stamped-content .stamped-review-body {
  margin-bottom: 24px;
  margin-top: -50px;
  padding-left: 24px;
  width: 70%;
  max-width: 70%;
}

.stamped-review-content-body {
  margin-top: 10px !important;
  line-height: 1.65 !important;
}

.stamped-form-input {
	background-color: transparent; 
}

.stamped-container .stamped-form-actions {
  margin-top: 5px;
}

.stamped-container .stamped-form-actions .stamped-file-uploader {
  display: none !important;
}

.stamped-form-custom-questions {
  max-width: 420px;
}

.stamped-container .stamped-header .stamped-review-options {
  background: transparent;
  margin: 0 -20px;
  padding: 0;
}
.stamped-header .stamped-review-options ul {
  font-size: 16px;
  line-height: 1.8;
}
.stamped-container .stamped-header .stamped-review-options ul li {
  font-size: 10px;
  margin-bottom: 0;
  margin-right: 0;
  padding: 20px;
  width: 33%;
}

.stamped-container .stamped-header .stamped-review-option-scale {
  background: transparent;
  border: 0;
}
.stamped-container .stamped-header .stamped-review-option-scale i {
  border-radius: 2px 0 0 2px;
  display: none;
  height: 4px;
  position: relative;
}
.stamped-container .stamped-header .stamped-review-option-scale i:nth-child(2),
.stamped-container .stamped-header .stamped-review-option-scale i:nth-child(3),
.stamped-container .stamped-header .stamped-review-option-scale i:nth-child(4),
.stamped-container .stamped-header .stamped-review-option-scale i:nth-child(5) {
  display: none !important;
}
.stamped-container .stamped-header .stamped-review-option-scale i::before {
  background: #1c1b1b;
  content: "";
  height: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
}
/*Editing the sizing option scale so it has different styling*/
.stamped-review-options ul li[data-title="sizing"] .stamped-review-option-scale i::before {
  background: #1c1b1b;
  content: "";
  height: 20px !important;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
}

.stamped-container .stamped-header .stamped-review-option-scale > span {
  display: none !important;
}
.stamped-container .stamped-header .stamped-review-option-scale::after {
  background: #fff;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.stamped-container .stamped-header [data-value^="0"] i {
  display: block;
  background: #1c1b1b !important;
  width: 0;
}


.stamped-container .stamped-header [data-value^="0.5"] i {width: 8.3%;}
.stamped-container .stamped-header [data-value^="1"] i {
  display: block;
  background: #1c1b1b !important;
  width: 16.66%;
}
.stamped-container .stamped-header [data-value^="1.5"] i {width: 24.96%;}
.stamped-container .stamped-header [data-value^="2"] i {
  display: block;
  background: #1c1b1b !important;
  width: 33.33%;
}
.stamped-container .stamped-header [data-value^="2.1"] i {width: 34.33%;}
.stamped-container .stamped-header [data-value^="2.2"] i {width: 35.66%;}
.stamped-container .stamped-header [data-value^="2.3"] i {width: 36.66%;}
.stamped-container .stamped-header [data-value^="2.4"] i {width: 37.66%;}
.stamped-container .stamped-header [data-value^="2.5"] i {width: 39.66%;}
.stamped-container .stamped-header [data-value^="2.6"] i {width: 41.66%;}
.stamped-container .stamped-header [data-value^="2.7"] i {width: 44.66%;}
.stamped-container .stamped-header [data-value^="2.8"] i {width: 46.66%;}
.stamped-container .stamped-header [data-value^="2.9"] i {width: 48.66%;}
.stamped-container .stamped-header [data-value^="3"] i {
  display: block;
  background: #1c1b1b !important;
  width: 50%;
}
.stamped-container .stamped-header [data-value^="3.5"] i {width: 65%;}
.stamped-container .stamped-header [data-value^="4"] i {
  display: block;
  background: #1c1b1b !important;
  width: 83.33%;
}
.stamped-container .stamped-header [data-value^="4.5"] i {width: 90%;}
.stamped-container .stamped-header [data-value^="4.6"] i {width: 92%;}
.stamped-container .stamped-header [data-value^="4.7"] i {width: 92.5%;}
.stamped-container .stamped-header [data-value^="4.8"] i {width: 96%;}
.stamped-container .stamped-header [data-value^="4.9"] i {width: 98%;}


.stamped-container .stamped-header [data-value^="5"] i {
  display: block;
  background: #1c1b1b !important;
  width: 100%;
}

.stamped-container .stamped-header span.stamped-review-option-labels span {
  max-width: 100px;
}
.stamped-container
  .stamped-header
  span.stamped-review-option-labels
  span:first-of-type {
  text-align: left;
}
.stamped-container
  .stamped-header
  span.stamped-review-option-labels
  span:last-of-type {
  display: block;
  text-align: right;
}
.stamped-container .stamped-header .stamped-summary-actions {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox !important;
  display: flex !important;
  float: none;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.stamped-container
  .stamped-header
  .stamped-summary-actions
  .stamped-summary-actions-newreview {
  border-radius: 2px;
  border: 1px solid var(--border-color);
  font-family: var(--heading-font-family);
  float: none;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: #1c1b1b !important;
  cursor: pointer;
  line-height: 19px;
}

.stamped-container
  .stamped-header
  .stamped-summary-actions
  .stamped-summary-actions-newreview:before {
  display: none;
}

.stamped-container .stamped-form-contact input,
.stamped-container .stamped-form-contact select,
.stamped-container .stamped-form-contact textarea,
.stamped-container .stamped-form-review .stamped-form-input-email,
.stamped-container .stamped-form-review .stamped-form-input-text,
.stamped-container .stamped-form-review .stamped-form-input-textarea {
  border-radius: 0;
  outline: none;
  transition: 0.2s;
  border: 1px solid var(--border-color);
  margin-bottom: 30px;
  margin-top: 8px;
  padding: 8px 12px;
  line-height: normal;
}
.stamped-container .stamped-form-contact input::placeholder,
.stamped-container .stamped-form-contact select::placeholder,
.stamped-container .stamped-form-contact textarea::placeholder,
.stamped-container .stamped-form-review .stamped-form-input-email::placeholder,
.stamped-container .stamped-form-review .stamped-form-input-text::placeholder,
.stamped-container .stamped-form-review .stamped-form-input-textarea::placeholder {
  color: #777777;
}

#reviewRating {
  background: transparent;
}
.stamped-container .fa-star,
.stamped-container .fa-star-o,
.stamped-container .fa-star-half-o,
.stamped-container .stamped-fa-star,
.stamped-container .stamped-fa-star-o,
.stamped-container .stamped-fa-star-half-o {
  color: #1c1b1b !important;
}

.stamped-form-custom-questions label, .stamped-container .stamped-form-label {
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight)!important;
  font-style: var(--heading-font-style);
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: 8px;
}

.stamped-form-custom-questions label input {
  margin-top: 8px;
}

.stamped-container .new-review-form .stamped-form-custom-option-scale label {
  font-family: var(--heading-font-family);
  text-transform: uppercase !important;
  font-size: 10px !important;
  color: var(--text-color);
  display: block;
  float: left;
  line-height: 1.8;
  margin-bottom: 0;
  position: relative;  
}

.stamped-container #stamped-button-submit {
  border: 0;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0;
  min-width: 152px;
  transition: 0.3s;
  text-align: center;
}
.stamped-container .stamped-content .stamped-review {
  margin-bottom: 0;
  padding-top: 35px;
}
.stamped-container .stamped-review {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.stamped-container .stamped-content .stamped-review:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}


.stamped-container .stamped-content .stamped-review-header .review-location {
  padding: 6px 0;
}

.stamped-container .stamped-content .stamped-review .stamped-review-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 0;
}

.stamped-container
  .stamped-content
  .stamped-review {
  color: #1c1b1b;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 18px;
}

.stamped-container
  .stamped-content
  .stamped-review
  .stamped-review-content
  .stamped-review-options {
  min-width: 30%;
  width: 30%;
}
.stamped-container
  .stamped-content
  .stamped-review
  .stamped-review-options
  ul
  li {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: 0;
  width: 100%;
}

.stamped-container .stamped-content .stamped-review .stamped-review-options ul li[data-value="worn-for"] {
    align-items: flex-start;
  }


.stamped-container .stamped-content .stamped-review .stamped-review-options strong {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.25px;
  min-width: 95px;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  width: auto;
  vertical-align: top;
}


.stamped-container .stamped-content .stamped-review-option-scale {
  background: #fff;
  border-radius: 2px;
  height: 4px;
  overflow: hidden;
  width: 50%;
  content: attr(data-content);
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.stamped-container .stamped-content .stamped-review-options ul li[data-title="sizing"] .stamped-review-option-scale i::before {
  background: #1c1b1b;
  content: "";
  height: 20px !important;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
}

.stamped-container .stamped-content .stamped-review-option-scale span {
  border: 0;
  font-size: 0 !important;
  height: 4px;
  vertical-align: top;
}
.stamped-container
  .stamped-content
  .stamped-review-option-scale
  span:nth-of-type(2),
  .stamped-container
  .stamped-content
  .stamped-review-option-scale
  span:nth-of-type(3),
.stamped-container
  .stamped-content
  .stamped-review-option-scale
  span:nth-of-type(4),
.stamped-container
  .stamped-content
  .stamped-review-option-scale
  span:nth-of-type(5) {
  display: none;
}
.stamped-container .stamped-content [data-value^="0"] span {
  background: #1c1b1b !important;
  width: 0;
}
.stamped-container .stamped-content [data-value^="1"] span {
  background: #1c1b1b !important;
  width: 0;
}
.stamped-container .stamped-content [data-value^="2"] span {
  background: #1c1b1b !important;
  width: 25%;
}
.stamped-container .stamped-content [data-value^="3"] span {
  background: #1c1b1b !important;
  width: 50%;
}
.stamped-container .stamped-content [data-value^="4"] span {
  background: #1c1b1b !important;
  width: 75%;
}
.stamped-container .stamped-content [data-value^="5"] span {
  background: #1c1b1b !important;
  width: 100%;
}
.stamped-container
  .stamped-content
  .stamped-reviews
  span.stamped-review-option-scale[data-value="1"]
  span:nth-last-child(n + 5),
.stamped-container
  .stamped-content
  .stamped-reviews
  span.stamped-review-option-scale[data-value="2"]
  span:nth-last-child(n + 4),
.stamped-container
  .stamped-content
  .stamped-reviews
  span.stamped-review-option-scale[data-value="3"]
  span:nth-last-child(n + 3),
.stamped-container
  .stamped-content
  .stamped-reviews
  span.stamped-review-option-scale[data-value="4"]
  span:nth-last-child(n + 2),
.stamped-container
  .stamped-content
  .stamped-reviews
  span.stamped-review-option-scale[data-value="5"]
  span {
  background: #1c1b1b;
}
.stamped-container
  .stamped-content
  .stamped-review-header
  .stamped-location-flag {
  
}

.stamped-file-uploader .stamped-file-uploader-btn-label2,
.stamped-container .stamped-content .stamped-tab-container,
#stamped-reviews-filter {
  display: none;
}
.stamped-container .stamped-messages .stamped-thank-you p {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.8;
}
.stamped-container .stamped-messages .stamped-thank-you p:first-child {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.8;
}
.stamped-container .stamped-messages .stamped-share-links a {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 14px 40px 12px;
}
.stamped-container .stamped-filters-wrapper,
.stamped-container .stamped-content .stamped-review-body .stamped-review-image,
.stamped-container
  .stamped-content
  .stamped-review-body
  .stamped-review-footer {
  display: none;
}
.stamped-container .new-review-form {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.stamped-container .stamped-form-contact,
.stamped-container .stamped-form-review {
  max-width: 840px;
}
.stamped-container button,
.stamped-container input[type="submit"],
.stamped-container label[for] {
  cursor: pointer;
}
.stamped-container .stamped-pagination {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 56px;
}
.stamped-container .stamped-pagination .previous {
  float: left;
}
.stamped-container .stamped-pagination .next {
  float: right;
}
.stamped-container .stamped-pagination .page a {
  border-radius: 100%;
  color: #1c1b1b;
  display: block;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  margin: 0 5px;
  padding: 0;
  transition: 0.2s;
  width: 34px;
}
.stamped-container .stamped-pagination .page.active a,
.stamped-container .stamped-pagination .page a:hover {
  background: #1c1b1b;
  color: #fff;
}
.stamped-container .stamped-pagination .previous a {
  background-image: url("https://cdn.shopify.com/s/files/1/0876/3374/files/icon-arrow-left.svg?v=1615965161");
  background-position: calc(50% - 1px) calc(50% - 1px);
  background-repeat: no-repeat;
  background-size: 10px 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  padding: 17px;
  transition: 0.2s;
  z-index: 5;
}
.stamped-container .stamped-pagination .next a {
  background-image: url("https://cdn.shopify.com/s/files/1/0876/3374/files/icon-arrow-right.svg?v=1615965161");
  background-position: calc(50% + 1px) calc(50% - 1px);
  background-repeat: no-repeat;
  background-size: 10px 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  padding: 17px;
  transition: 0.2s;
  z-index: 5;
}
.stamped-container .stamped-pagination .previous a:hover {
  background-color: #fff;
}
.stamped-container .stamped-pagination .next a:hover {
  background-color: #fff;
}
.stamped-container a:focus {
  outline: none !important;
}
.stamped-container .stamped-pagination .next a.disabled,
.stamped-container .stamped-pagination .stamped-link-disabled {
  display: none;
}


/* Smartphone media queries */

@media only screen and (min-width: 768px) {
  .stamped-container #stamped-button-submit {
    width: auto;
  }
  .stamped-container .stamped-form-contact {
    max-width: 855px;
  }
  .stamped-container .stamped-form-contact-email,
  .stamped-container .stamped-form-contact-location,
  .stamped-container .stamped-form-contact-name {
    max-width: 50%;
    width: 50%;
  }
}
@media only screen and (max-width: 747px) {
  .stamped-container .stamped-header .stamped-review-options ul li {
    margin-right: 0;
    padding: 14px 20px;
  }
  .stamped-container .stamped-header {
    font-size: 18px;
    text-align: left;
  }
  .stamped-container .stamped-content .stamped-review .stamped-review-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
 
  .stamped-container
    .stamped-content
    .stamped-review {
    font-size: 18px;
  }

  .stamped-container
  .stamped-content
  .stamped-review
  .stamped-review-content
  .stamped-review-body {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    padding-left: 0;
  }

  .stamped-container
    .stamped-content
    .stamped-review
    .stamped-review-content
    .stamped-review-options {
    min-width: 100%;
    width: 100%;
  }

  .stamped-container .stamped-pagination {
    padding-top: 36px;
    text-align: center;
  }
  .stamped-container .stamped-pagination .page a {
    height: 24px;
    line-height: 24px;
    margin: 0 2px;
    text-align: center;
    width: 24px;
  }
}

@media only screen and (max-width: 560px) {
  .stamped-container .stamped-header .stamped-review-options ul li {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .stamped-review-options .stamped-review-option-textfield {
    white-space: normal !important;
  }
}


@media only screen and (max-width: 640px) {
  .stamped-container
  .stamped-header
  .stamped-summary-actions
  .stamped-summary-actions-newreview {
  padding: 6px;
  margin-top: 7px;
}
}

@media (min-width:600px)  {
  [data-widget-style=standard2] .stamped-review-header-title {
    /* padding-top: 4px; */
    margin-top: 11px !important;
    position: absolute;
  }
} 

.stamped-badge-caption {
  color: #404040 !important;
}


.fa-star-half-o:before, .fa-star-o:before, .fa-star:before, .stamped-fa-star-half-o:before, .stamped-fa-star-o:before, .stamped-fa-star:before {
    color: #404040 !important; 
}
