{% raw %}<div 
     id="stamped-reviews-widget" 
     data-widget-type="nps-submission-form" 
     data-email="{% endraw %}{% if customer %}{{customer.email}}{% else %}{% endif %}{% raw %}" 
     data-name="{% endraw %}{% if customer.first_name | append " " %}{{ customer.first_name }}{{ customer.last_name }}{% else %}Anonymous{% endif %}{% raw %}"
     data-title="Thank you for your review!" 
     data-message="How likely are you to recommend us to friend or family?">
</div>{% endraw %}