        <html>
          <style>
            #dovetale-frame{ height: 960px; display: block; }
            @media (max-width: 832px){
              #dovetale-frame{ height: 1500px; }
            }
          </style>
          <body>
            <iframe id='dovetale-frame' width='100%' style='border: none' src='https://dovetale.com/community/embed/QM4N0lM9e-M'></iframe>
          </body>
        </html>
