<div 
     id="stamped-reviews-widget" 
     data-widget-type="nps-submission-form" 
     data-email="{{customer.email}}" 
     data-name="{{ customer.first_name }} {{ customer.last_name }}"
     data-title="Thank you for your review!" 
     data-message="How likely are you to recommend us to friend or family?">
</div>
<script>
  setTimeout(function(){
    jQuery(".nps-name-wrapper #input-name").val('Anonymous'); 
    jQuery(".nps-email-wrapper #input-email").attr('placeholder', 'email@example.com');
  },2000);
</script>